.App {
  text-align: center;
}

.App-header {
  padding: 30px;
}

.App-title {
  font-size: 1.8em;
}

.App-intro {
  padding: 0;
  color: grey;
  font: normal 1.2em 'Roboto';
}

@media (max-width: 576px) {
  .App-header {
    display: none;
    visibility: hidden;
  }
}
