html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 100 14px 'Roboto';
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  #wrapper {
    height: 100vh;
  }
}

#calculator-wrapper {
  width: 320px;
  height: 520px;
  position: relative;
}

.calculator {
  width: 100%;
  height: 100%;
  background: black;

  display: flex;
  flex-direction: column;
}

#wrapper .calculator {
  box-shadow: 0px 0px 20px 0px #aaa;
}

.calculator-display {
  color: white;
  background: #1c191c;
  line-height: 130px;
  font-size: 6em;

  flex: 1;
}

.auto-scaling-text {
  display: inline-block;
}

.calculator-display .auto-scaling-text {
  padding: 0 16px;
  position: absolute;
  right: 0;
  transform-origin: right;
}

.calculator-keypad {
  height: 400px;

  display: flex;
}

.calculator .input-keys {
  width: 240px;
}

.calculator .function-keys {
  display: flex;
}

.calculator .digit-keys {
  background: #1c191c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.calculator-key {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  border: 8px solid #1c191c;
  border-radius: 50%;
}
.calculator .function-keys .calculator-key {
  font-size: 1.6em;
}

.calculator .digit-keys .calculator-key {
  font-size: 2.25em;
  color: white;
  background-color: #323232;
}

.calculator .digit-keys .key-0 {
  width: 160px;
  text-align: left;
  padding-left: 26px;
  border-radius: 36px;
}
.calculator .digit-keys .key-dot {
  padding-top: 0.4em;
}
.calculator .operator-keys .calculator-key {
  color: white;
  font-size: 2.2em;
  background-color: purple;
}

.calculator .function-keys,
.calculator .operator-keys {
  background-color: #1c191c;
}

.calculator .function-keys .calculator-key {
  background-color: #b4b4b4;
}
